meta charset="utf-8"
meta content="width=device-width, initial-scale=1" name="viewport"

// Set dynamic and default meta
- title = current_page.data.seoTitle || current_page.title || "Digital marketing agency for small businesses | Redwave Marketing"
- description = current_page.data.description || "At Redwave Marketing, we specialise in providing digital marketing services to small businesses. We're experts in web development and all forms of marketing."
//Change this to your domain
- url = "https://www.redwave-marketing.com"
- image = current_page.data.image || "/images/uploads/hero.png"

title =title

meta name="description" content=description

meta property="og:title" content=title
meta property="og:description" content=description
meta property="og:image" content=(url + image_path(image))
meta property="og:url" content=(url + current_page.url)
meta property="og:type" content="website"

meta name="twitter:card" content="summary_large_image"
meta name="twitter:title" content=title
meta name="twitter:description" content=description
meta name="twitter:image" content=(url + image_path(image))

script[type="application/ld+json"]
  |  { "@context":"https://schema.org", "@graph": [ { "@type":"Organization", "@id":"https://www.redwave-marketing.com/#organization", "name":"Redwave Marketing", "url":"https://www.redwave-marketing.com/", "description": "At Redwave Marketing, we specialise in providing digital marketing services to small businesses. We're experts in web development and all forms of marketing.", "logo": { "@type":"ImageObject", "@id":"https://www.redwave-marketing.com/#logo", "url":"https://d33wubrfki0l68.cloudfront.net/38f24a8602f1707474d4508e5f7d570699a3c702/3d9f0/images/a71ab14f-a27e-4a40-9cbf-e75960992553.png", "caption":"Redwave" }, "image":{ "@id":"https://www.redwave-marketing.com/#logo" } }, { "@type":"WebSite", "@id":"https://www.redwave-marketing.com/#website", "url":"https://www.redwave-marketing.com/", "name":"Redwave Marketing", "publisher":{ "@id":"https://www.redwave-marketing.com/#organization" } }] } 
