meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
meta charset="utf-8"
meta content="width=device-width, initial-scale=1" name="viewport"

// Set dynamic and default meta
- title = current_page.data.title || "Digital marketing agency for small businesses | Redwave Marketing"
- description = current_page.data.description || "At Redwave Marketing, we specialise in providing digital marketing services to small businesses. We're experts in web development and all forms of marketing."
//Change this to your domain
- url = "https://redwave.netlify.com"
- image = current_page.data.image || "/images/uploads/hero.jpg"

title =title

meta name="description" content=description

meta property="og:title" content=title
meta property="og:description" content=description
meta property="og:image" content=(url + image_path(image))
meta property="og:url" content=(url + current_page.url)
meta property="og:type" content="website"

meta name="twitter:card" content="summary_large_image"
meta name="twitter:title" content=title
meta name="twitter:description" content=description
meta name="twitter:image" content=(url + image_path(image))
