.main-content {
  margin-top: 80px;
}

.form-group {
	margin-bottom: 15px;
	width: 100%;
	label {
		width: 100%;
                display: block;
                font-size: 18px;
	}
	input {
		border: 1px solid #666;
		height: 30px;
		width: 100%;
                display: block;
		font-size: 18px;
                padding: 30px 20px 30px 20px;
	}
	textarea {
		height: auto;
		border: 1px solid #666;
		width: 100%;
		font-size: 18px;
		padding: 20px 20px 30px 20px;
    	}
}

.contact-form {
	padding: 0 20px 0 20px;
}

button.cta, a.cta {
  background-color: $brand-red;
  color: $white-text;
  padding: 15px 25px 15px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  display: inline-block;
}
