$primary-color: rgba(255, 68, 0, 1);
$secondary-color: rgba(112,93,86, 1);

$brand-red: #d93635;
$brand-dark-blue: #0860eb;
$brand-light-blue: #0087d4;
$brand-sky-blue: #94b9d2;
$brand-yellow: #ffbe2d;
$text-color: #666666;

$white-text: rgba(255,255,255, 1);

$background-primary-color: rgba(11,12,6, 1);
$background-secondary-color: rgba(42,77,79, 1);
