$primary-color: rgba(255, 68, 0, 1);
$secondary-color: rgba(112,93,86, 1);

$brand-red: #cc0000;

$text-color: rgba(48,44,84, 1);
$white-text: rgba(255,255,255, 1);

$background-primary-color: rgba(11,12,6, 1);
$background-secondary-color: rgba(42,77,79, 1);
