body {
  font-family: "Questrial", -apple-system, BlinkMacSystemFont, "Roboto", "Noto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

p {
  font-size: 20px;
  line-height: 28px;
}

a {
  color: $brand-red;
  text-decoration:none;
  border-bottom: 2px solid rgba(217,54,53, 0.8);
  &:hover, &:focus {
      color: darken( $brand-red, 20% );
      text-decoration: none;
      background-color: lighten( $brand-red, 50% );
    }
}

h1, h2, h3 {
  line-height: 1.2;
  color: $brand-red;
}
h1 {
  font-size: 64px;
  font-weight: 700;
}


h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: $screen-md-max){
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: $screen-sm-max){
  h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: $screen-xs-max){
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }
}
